/* solve the problem with the fixed nav-bar */
body { 
  padding-top: 65px; 
}

@media (max-width: 768px) {
  body, .phone { 
    font-size: 90%;
  }
}

/* fonts */
.serif {
  font-family: 'Shippori Mincho', serif;
}
.sans-serif {
  font-family: 'Anton', sans-serif;
}
.blue {
  color: rgb(71, 80, 85);
}
.content {
  position: absolute;
  top: 160px;
}
@media (max-width: 768px) {
  .content { 
    top: 120px;
  }
}


/* LOGIN */
.background-image {
  background-image: url("../images/IMG_4335.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 100vh;
  filter: saturate(50%);
}

.btn-logout {
  width: 10rem;
}

.input-login {
  width: 30rem;
  height: 4rem;
}
@media (max-width: 768px) {
  .input-login { 
    width: 15rem;
  }
}

/* TODOS */
.list-row {
  border-bottom: .5px solid rgb(175, 175, 175);
  width: 18rem;
  outline: none;
}
div > .list-row {
  margin-bottom: .4rem; /* override Bootstrap, default is 1rem */
  margin-top: .4rem;  /* override Bootstrap, default is 0 */
}

a.nostyle:link, a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.checked {
  text-decoration: line-through !important;
  color: rgb(187, 186, 186) !important;
}

#row {
  transition: transform .3s ease-out .05s,-webkit-transform .3s ease-out .05s;
}
#row:hover {
  transform: translate(10px);
  color: rgb(71, 80, 85);
}

.hidden {
  visibility: hidden;
}
#row:hover .hidden {
  visibility: visible;
}