{% extends "template.html" %}

{% block title %}
Töday
{% endblock %}

{% block main %}
<div
  class="container-fluid d-flex flex-column align-items-center mt-5">

  <div class="h1 pt-5">
    {{ dayname }}
  </div>
  <div class="mb-3">
    {{ date }}
  </div>

  <div class="pt-4 d-inline-flex flex-column align-items-center"
    id="day-list">
    <!-- List of ToDos created with JS -->
  </div>

  <form action="/" method="post">
    <input type="text" class="form-control-plaintext list-row"
      placeholder="enter TöDö" autofocus name="new_todo">
  </form>

</div>

<script>
  // List all pending todos
  let dayList = document.getElementById('day-list');
  let todos = JSON.parse('{{ todos | safe }}');

  for (var i = 0; i < todos.length; i++) {
    let row = document.createElement('div');
    row.className = "d-inline-flex justify-content-between list-row";

    let listItem = document.createElement('p');
    listItem.innerHTML = todos[i].todo;
    // listItem.setAttribute("hidden", true);

    let listForm = document.createElement('form');
    listForm.setAttribute("method", "get");
    listForm.setAttribute("action", "/");
    listForm.className = "form";

    let listFormItem = document.createElement('input');
    listFormItem.setAttribute("type", "text");
    listFormItem.setAttribute("value", todos[i].todo);
    listFormItem.setAttribute("hidden", true);
    listFormItem.setAttribute("name", "todo")

    listForm.appendChild(listFormItem);

    let close = document.createElement("input");
    close.setAttribute("type", "submit");
    close.setAttribute("value", "\u00D7");
    close.className = "close";
    listForm.appendChild(close);

    // let edit = document.createElement("input");
    // edit.setAttribute("type", "submit");
    // edit.setAttribute("value", "\u00D7");
    // edit.className = "close";
    // listForm.appendChild(edit);

    row.appendChild(listItem);
    row.appendChild(listForm);
    dayList.appendChild(row);
  };

</script>



{% endblock %}