{% extends "template.html" %}

{% block title %}
ToDos
{% endblock %}

{% block main %}
<div
  class="container-fluid d-flex flex-column align-items-center content">

  <!-- Display day name -->
  <p class="h1 sans-serif blue pb-2" id="day"></p>

  <!-- Display editable date -->
  <p class="h5 sans-serif mb-3" id="date"></p>


  <div class="d-inline-flex flex-column align-items-center pt-4">
    {% for todo in todo_list %}

    <div class="d-inline-flex justify-content-between list-row"
      id="row">

      <a class="nostyle {{'checked' if todo['done']}} serif"
        href="/check/{{ todo.id }}">{{ todo.todo }}</a>

      <div class="hidden {{'checked' if todo['done']}}">
        <!-- <a class="nostyle" href="/repeat/{{ todo.id }}"><i class="bi bi-arrow-repeat"></i></a>
        <a class="nostyle" href="/edit/{{ todo.id }}"><i class="bi bi-pencil"></i></a> -->
        <a class="nostyle" href="/delete/{{ todo.id }}"><i
            class="bi bi-trash"></i></a>

      </div>

    </div>

    {% endfor %}
  </div>

  <form action="/add" method="post">
    <input class="form-control-plaintext list-row serif" type="text"
      name="todo" autofocus>
  </form>

</div>



<script>
  let d = new Date();
  const days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
  const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

  document.getElementById('day').innerHTML = days[d.getDay()].toUpperCase();

  let formatted_date = `${months[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}`;
  document.getElementById('date').innerHTML = formatted_date.toUpperCase();

</script>

{% endblock %}