{% extends "template.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div
    class="container-fluid intro d-flex flex-column align-items-center">
    <p class="h1">REGISTER</p>
    <form action="/register" method="post">
        <div class="form-group ">
            <input autocomplete="off" autofocus
                class="form-control width-login" name="username"
                placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control width-login" name="password"
                placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control width-login"
                name="confirmation" placeholder="Confirm Password"
                type="password">
        </div>
        <button class="btn btn-dark p-2 width-login"
            type="submit">Let's dö this</button>
    </form>
</div>
{% endblock %}